{
  "extends": [
    "airbnb-base",
    "plugin:vue/recommended"
  ],
  "globals": {
    "nodecg": "readonly",
    "NodeCG": "readonly"
  },
  "rules": {
    "global-require": "off",
    "no-underscore-dangle": [
      "error",
      {
        "allowAfterThis": true
      }
    ]
  }
}
